@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply text-base text-gray-700 bg-gray-50;
	@apply dark:text-gray-200 dark:bg-gray-900;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	@apply bg-gray-200 dark:bg-gray-800 bg-opacity-50;
}

::-webkit-scrollbar-track:hover {
	@apply bg-opacity-100;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-400 dark:bg-gray-600 bg-opacity-50;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-opacity-100;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
	mix-blend-mode: difference;
}
